/*========*/
/* header */
/*========*/

.page-header {
    background-color: #008888;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23c9c9c9' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 36px;
}

/* site name */
.navbar a.navbar-brand {
    font-weight: bold;
    font-size: 120%;
}

/* logo */
.navbar-brand img {
    height: 28px;
    position: relative;
    top: -2px;
    left: -4px;
    border-radius: 50%;
}

/* logo on transparent */
.navbar-transparent .navbar-brand img {
    filter: brightness(500%) contrast(500%)
}

/* photo */
img.profile {
    border-radius: 50%;
    width: 150px;
    border: 3px solid white;
}

/* nav items */
li.nav-item:hover {
    background: #cbcbcb3b;
}

/* button */
button.cta {
    margin: 30px auto;
    display: block;
}

button.btn.btn-white,
button.btn.btn-white:hover {
    color: #444444;
}

/* long header */
.home-page .page-header {
    height: 100vh;
}

/*===============*/
/* projects page */
/*===============*/

/* short header */
.page-header {
    height: 240px;
}

.projects-page img.profile {
    width: 162px;
    height: auto;
}

.projects-page .section.text-center {
    transform: translate(0px, -100px);
    padding-bottom: 0;
}

.projects-page .main .section .card {
    display: inline-block;
    margin: 10px;
    width: 21rem;
}

@media (max-width: 768px) {
    .projects-page .main .section .card {
        width: 90%;
    }
}

/*=================*/
/* content section */
/*=================*/

.main {
    background: #f5f5f5;
}

/* page content */
.section.text-center {
    padding-top: 16px;
}

/* first title in content */
h2.title {
    margin-bottom: 2rem;
}

.card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #ffffff;
}

/* width of container (entire page) */
@media (min-width: 576px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* CAROUSEL */

.carousel .card {
    width: 98%;
    margin: 2px auto 8px auto;
}

.carousel .card .card-body {
    text-align: left;
}

.carousel .card div.card-body {
    min-height: unset;
    max-width: unset;
    margin-left: 0;
}

#featuredSitesCarousel .carousel-control-prev,
#featuredSitesCarousel .carousel-control-next {
    top: 144px;
    bottom: 144px;
}

.carousel a.card-link {
    line-height: 42px;
    vertical-align: top;
}

a.card-link:hover {
    text-decoration: underline;
}

.carousel p.card-text {
    margin: 0;
}

/* LEFT ALIGNED LOGO ICONS */
img.icon-left {
    margin: 4px;
    width: 34px;
}

/* YOUTUBE VIDEOS */

.videos {
    text-align: center;
    max-width: 900px; 
    margin: auto;
}

.video {
    display: inline-block;
    margin: 6px; 
    vertical-align: top;
}

.video img {
    height: auto;
    max-width: 100%;
}

.video div.details {
    text-align: left;
    margin-top: 6px; 
    width: 100%;
    max-width: 450px; 
}

@media only screen and (max-width: 992px) {
    .videos {
        max-width: 620px;
    }

    .video {
        display: block;
        height: auto;
        margin: 12px auto;
    }

    .video img {
        width: 100%;
        max-width: 300px;
    }

    .video div.details {
        margin: 8px auto; 
        width: 100%;
        max-width: 320px;
    }
}

/* FOOTER */
footer .copyright.float-right {
    line-height: 58px;
}

@media (max-width: 770px) {
    footer ul li.se {
        display: block;
        display: table;
    }
}